@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(107, 107, 241);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    min-width: 200px;
    max-width: 600px;
    margin: auto;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.322);
    text-align: center;
}
section img{
    height: 15em;
    width: 50%;
    border-radius: 50%;
}
footer{
    padding-top: 50px;
    color: white;
    text-align: center;
    font-style: italic;

}