@charset "UTF-8";

input[type=search], input[type=text]{
    width: 300px;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    outline: none;
    border-color: black;
}
#sa{
    display: block;
    margin: auto;
}
#salasbusca{
    margin-top: 2vh;
    font-size: 1.2em;
    text-align: center;
}
#salasbusca a{
    color: black;
    text-decoration: none;

}
#salasbusca a:hover{
    text-decoration: underline;
}
#ff{
    text-align: center;
}

.curtidasel{
    margin: auto;
    max-width: 400px;
    overflow: hidden;
    margin-bottom: 4vh;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}