@charset "UTF-8";

input[type=search], input[type=text]{
    width: 300px;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    outline: none;
    border-color: black;
}
#salasbusca{
    margin-top: 2vh;
    font-size: 1.2em;
}
#salasbusca a{
    color: black;
    text-decoration: none;

}
#salasbusca a:hover{
    text-decoration: underline;
}