@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(104, 82, 185);
    font-size: 1em;
}
header{
    display: flex;
    min-width: 200px;
    height: 200px;
    background-color: rgb(107, 165, 252);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.322);
    align-items: center;
}
header div{
    margin: auto;
}
main{
    margin: auto;
    padding: 30px;
    min-width: 200px;
    max-width: 1000px;
    min-height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 3px 3px #00000052;
    background-color: white;
    font-size: 1.5em;
}
main #num, main #opcional, button{
    margin: 10px;
    padding: 2px;
    font-size: 1em;
    border-radius: 5px;
}
