<header>

</header>
<main>
    <form action="/add" method="post">
        <input type="text" name="nome" id="" placeholder="nome">
        <textarea name="texto" id="" cols="30" rows="10" placeholder="msg"></textarea>
        <button type="submit">cadastrar post</button>
    </form>
</main>
