@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(139, 131, 131);
}
main{
    min-width: 200px;
    max-width: 1200px;
    min-height: 500px;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    padding: 50px;
    background-color: rgb(46, 46, 46);
    color: white;
}
input[type=number], input[type=text]{
    font-size: 1.1em;
    padding: 5px;
    display: block;
    margin: auto;
    margin-bottom: 2vh;
}
select{
    margin-bottom: 1vh;
    font-size: 1em;
    padding: 5px;
    min-width: 200px;
}
button{
    font-size: 1.2em;
    display: block;
    margin: auto;
    margin-top: 1vh;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: linear 200ms;
}
button:hover{
    background-color: rgba(87, 87, 87, 0.801);
    color: white;
}
#tabela{
    width: 200px;
    margin: auto;
    margin-top: 2vh;
    padding: 5px;
    text-align: center;
    background-color: rgb(122, 122, 122);
}
.n{
    display: inline-block;
}