<header>
    <h1>teste</h1>
</header>
<main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut dolore inventore explicabo consequuntur ea necessitatibus fugit aperiam esse. Laboriosam atque eius odit molestias quae deserunt nemo quam impedit sint voluptas.</p>
    <form action="/teste" onsubmit="carregar()" method="post">
        <input type="text" name="nome" id="" placeholder="nome">
        <input type="number" name="nota" id="" placeholder="nota">
        <button type="submit" onclick="carregar(event)">enviar</button>
    </form>
    <!-- <script src="../script.js"></script> -->
</main>