<header>
    <h1>aq</h1>
</header>
<main>
    <h2>outro</h2>
    <button onclick="testar()">teste</button>
    {{#each valorrr}}
        <h1>{{titulo}}</h1>
        <p>{{conteudo}}</p>
    {{/each}}
</main>
<script src="script.js"></script>